.header {
  background-image: url('/Users/bethwilson/Desktop/Projects/broadway/resources/images/the-flatiron-building.png');
  color: white;
  text-align: center;
}


.nav {
  color: white;
  font-size: 17px;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

body {
  text-align: center;
  font-family: Helvetica;
}
